<html>
<head>
<body>
body { font-family: Arial;
border: 2px solid gray;
margin: 20px; }
tt { font-family: Courier, monospace;}
p { font-family: “times new roman”, Verdana, sans-serif; }
 h1 {
color: darkgreen; color: darkgreen;
text-shadow: .2em .2em red;
font-weight: bold;
}
h1  {
text-align: center;
font-style: italic;}
h2 {
font-size: 1em;
text-transform: uppercase;
letter-spacing: .5em;
color: blue; }
p {
font-size: 1em;
color: black;